/* Your CSS Code here. */
.holder {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-evenly;
  }

  .holder > div {
    background: cyan;
    text-align: center;
    font-size: 30px;
    width:200px;
    height:100px;
  }


 